@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
:root {
  font-size: 16px;
}

body {
  font-family: dubai;
  color: #000;
  background-color: #f5f5dc;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
.cabecalho {
  background-position: bottom center; 
  background-image: url(datas/Clinica_BG2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
}

.brasao-cabecalho {
  display: flex;
  justify-content: right;
}
.brasao-cabecalho img {
  width: 265px;
}

/*Menu de cima*/
.dp-menu ul {
  display: flex;
  justify-content: center;
  background-color: #165c7d;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.dp-menu ul li {
  display: inline;
  position: relative;
  margin: 0 2em 0 2em;
  padding: 1em;
}
.dp-menu ul li a {
  color: #dadada;
  text-decoration: none;
  text-align: center;
}
.dp-menu ul li a:hover {
  color: #000;
  transition: 0.3s;
} 
.dp-menu .agendamento a:hover{
  color:#dadada;
}
.dp-menu ul ul {
  display: none;
  position: absolute;
  width: 150px;
  left: 1;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul li a {
  display: block;
}
.agendamento {
  justify-content: center;
  background-color: #179929;
  border-style: solid;
  border-color: #dadada;
  padding: 12px;
  border-width: 1px;
  border-radius: 6px 6px 6px 6px;
}
/* Dropdown */
.dp-menu .dropdown:hover {
  .dp {
    color: #000;
    transition: 0.3s;
  }
}
/* Corpo do documento */
h1 {
  font-size: 2rem;
}
.maintext h4 {
  text-align: center;
  font-size: 2rem;
  color: #283576;
}
.maintext h6 {
  text-align: center;
  font-size: 1rem;
  color: #000;
}
.maintext p {
  color: #000;
  font-family: arial;
  font-size: 20px;
  padding: 0 8em 0 8em;
}

/* Rodapé */
ul li a {
  color: #dadada;
  text-decoration: none;
}
.rodape-inner ul li a:hover {
  color: #000;
  transition: 0.3s;
}
.rodape-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 18px;
}
.rodape-titulo {
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: auto;
}
.rodape-inner ul {
  list-style: none;
  align-items: center;
  padding: 0 4em 0 4em;
}
.rodape-inner ul li {
  display: flex;
  list-style: none;
  padding: 3px 0 0 0;
  justify-content: center;
}
.rodape {
  color: #ffffff;
  background-color: #165c7d;
}
a:link {
  text-decoration: none;
}
