body {
  font-family: dubai;
  color: #000;
  background-color: #f5f5dc;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

/*Menu de cima*/
.dp-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #165c7d;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.dp-menu ul li {
  display: inline;
  position: relative;
  margin: 0 2em 0 2em;
  padding: 1rem;
}
.dp-menu ul li a {
  color: #dadada;
  text-decoration: none;
  text-align: center;
}
.dp-menu ul li a:hover {
  color: #000;
  transition: 0.3s;
} 
.dp-menu .agendamento a:hover{
  color:#dadada;
}
.dp-menu ul ul {
  display: none;
  position: absolute;
  width: 150px;
  left: 1;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul li a {
  display: block;
}
/* Dropdown */
.dp-menu .dropdown:hover {
  .dp {
    color: #000;
    transition: 0.3s;
  }
}
/* Corpo do documento */
h1 {
  font-size: 2rem;
}
.maintext {
  text-align: center;
  margin: 4em;
  height: 100vh;
}
.maintext h4 {
  text-align: center;
  font-size: 2rem;
  color: #283576;
}
.maintext h6 {
  text-align: center;
  font-size: 1rem;
  color: #000;
}
.maintext img {
  width: 50vw;
  height: 50vh;
  box-shadow: 3px 3px 3px rgb(105, 105, 105);
  border-radius: 3%;
}
/* Rodapé */
ul li a {
  color: #dadada;
  text-decoration: none;
}
.rodape-inner ul li a:hover {
  color: #000;
  transition: 0.3s;
}
.rodape-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 18px;
}
.rodape-titulo {
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: auto;
}
.rodape-inner ul {
  list-style: none;
  align-items: center;
  padding: 0 4em 0 4em;
}
.rodape-inner ul li {
  display: flex;
  list-style: none;
  padding: 3px 0 0 0;
  justify-content: center;
}
.rodape {
  color: #ffffff;
  background-color: #165c7d;

}
a:link {
  text-decoration: none;
}
